body,html{
    height: 100%;
    margin: 0;
}
.bg{
    background-color:white;
    background-image: url(./assets/MainBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    opacity: 1;
}
header{
    padding-top: 16px;
}
a{
    text-decoration-line: none;  
}
a:link{
    color:goldenrod; 
}
a:hover{
    color: antiquewhite;
}
a:visited{
    color: 	#900020
}

.topnav{
    display: flex;
    justify-content: space-between;
    font-family: 'Old Standard TT', serif;
    color: goldenrod;
    font-size: 21px;
  
    
}

header img{
    display: flex;
    padding-bottom: 0px;
    width: 150px;
    height: 126px;
    
}
.topnav p{
    margin-top: 0px;
    position: absolute;
}
.menu{
    padding-top: 84px
}
