body{
    background-color: black;
}
a{
    color:goldenrod; 
}
a:hover{
    color: antiquewhite;
}
.topnav{
    display: flex;
    justify-content: space-between;
    font-family: 'Homemade Apple', cursive;
    color: goldenrod;
    
}
.header{
    float: left;
}
header{
    display: flex;
}
.topnav p{
    margin-top: 0px;
}
.menu{
    justify-content: space-around;
}
